<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anpa.anpacr"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />
    
     <!-- for most things, including card.io & paypal -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <application
        android:allowBackup="true"
        android:name="com.anpa.anpacr.AnpacrApplication"
        android:icon="@drawable/ic_anpa_square"
        android:label="@string/app_name"
        android:theme="@style/Theme.Anpa_theme"  >
        <activity
            android:name="com.anpa.anpacr.activities.SplashScreenActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.anpa.anpacr.activities.NewsActivity"></activity>
        <activity android:name="com.anpa.anpacr.activities.LostActivity"></activity>
        <activity android:name="com.anpa.anpacr.activities.AdoptionActivity"></activity>
        <activity android:name="com.anpa.anpacr.activities.CastrationActivity"></activity>
        <activity android:name="com.anpa.anpacr.activities.ContactusActivity"></activity>
        <activity android:name="com.anpa.anpacr.activities.DonationActivity"></activity>
        <activity android:name="com.anpa.anpacr.activities.TipsActivity"></activity>
        <activity android:name="com.anpa.anpacr.activities.DetailNewsActivity"></activity>
        <activity android:name="com.anpa.anpacr.activities.DetailCastrationActivity"></activity>
        <activity android:name="com.anpa.anpacr.activities.DetailTipActivity"></activity>
        <activity android:name="com.anpa.anpacr.activities.DetailLostActivity"></activity>
        <activity android:name="com.anpa.anpacr.activities.HomeActivity"></activity>
        
<!-- Paypal payments -->
        <service android:name="com.paypal.android.sdk.payments.PayPalService" android:exported="false" />
        
        <activity android:name="com.paypal.android.sdk.payments.PaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.LoginActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentMethodActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PayPalFuturePaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentConsentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentInfoActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PayPalProfileSharingActivity" />
        <activity android:name="com.paypal.android.sdk.payments.ProfileSharingConsentActivity" />
        <activity
            android:name="io.card.payment.CardIOActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name="io.card.payment.DataEntryActivity" />
    </application>
</manifest>